<p id="notice"><%= notice %></p>

<p>
  <strong>So:</strong>
  <%= @somthing.so %>
</p>

<p>
  <strong>Arun:</strong>
  <%= @somthing.arun %>
</p>

<%= link_to 'Edit', edit_somthing_path(@somthing) %> |
<%= link_to 'Back', somthings_path %>
