<style>
.report-line {
  height: 0;
  border-top: 1px solid maroon;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

}
.report-line span {
  display: inline-block;
  position: relative;
  padding: 0 17px;
  background-color: maroon;
  color: maroon;
  top: -16px;
  font-size: 20px;
}
</style>
<div class=''>

    <div class="section">
      <div class="row">
        <div class="col-md-1" style="">
          <label>
            Name:
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <u><%= @patient.name %></u>
            <!-- <input type="text" class="form-control" > -->
          </label>
        </div>
        <div class="col-md-1" style="">
          Gender:
        </div>
        <div class="col-md-2">
          <% if @patient.gender == '1' %>
            <label>Male</label>
            <%else%>
            <label>Female</label>
            <%end%>

        </div>
        <div class="col-md-1" style="">
          Age:
        </div>
        <div class="col-md-2">
            <%= @patient.age %>
          <!-- <select class = "form-control"><option>Select Age</option><select> -->
          </div>
        </div>
      </div>

      <div class="section">
        <div class="row">
          <div class="col-md-1" style="margin-top: 5px;">
            <label>
              Reffered By:
            </label>
          </div>
          <div class="col-md-3">
            <label>
                <%= @patient.referred_by %>
            </label>
          </div>
          <div class="col-md-1" style="">
              <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
              <span id="inputSuccess2Status4" class="sr-only">(success)</span>
          </div>
          <div class="col-md-3" style="margin-top: 8px;">
            <%= @patient.present_date %>
          </div>
        </div>
      </div>
  <br/>


  <div class="report-line" id="spy6" align="center">
    <span style="background-color: #fff;">Stool Examination Report</span>
  </div>

  <div class="panel-body col-xs-12">
    <div class="section">
      <div class="row">
        <div class="col-md-2" style="margin-top: 5px;">
          <label>
            Color:
          </label>
        </div>
        <div class="col-md-6">
          <%= @stool_examinationreport.color %>
        </div>
      </div>
    </div><br/>
    <div class="section">
      <div class="row">
        <div class="col-md-2" style="margin-top: 5px;">
          <label>
            Reaction:
          </label>
        </div>
        <div class="col-md-6">
          <%= @stool_examinationreport.reaction %>
        </div>
      </div>
    </div>
    <br/>
    <div class="section">
      <div class="row">
        <div class="col-md-2" style="margin-top: 5px;">
          <label>
            Viscosity:
          </label>
        </div>
        <div class="col-md-6">
          <%= @stool_examinationreport.viscosity %>
        </div>
      </div>
    </div>
    <br/>
    <div class="section">
      <div class="row">
        <div class="col-md-2" style="margin-top: 5px;">
          <label>
            Mocous:
          </label>
        </div>
        <div class="col-md-6">
          <%= @stool_examinationreport.mucous %>
        </div>
      </div>
    </div>
    <br/>
    <div class="section">
      <div class="row">
        <div class="col-md-2" style="margin-top: 5px;">
          <label>
            Blood:
          </label>
        </div>
        <div class="col-md-6">
          <%= @stool_examinationreport.blood %>
        </div>
      </div>
    </div>
    <br/>
    <div class="section">
      <div class="row">
        <div class="col-md-2" style="margin-top: 5px;">
          <label>
            Occult Blood:
          </label>
        </div>
        <div class="col-md-6">
          <%= @stool_examinationreport.occult_blood %>
        </div>
      </div>
    </div>
    <br/>

    <div class="report-line" align="center">
      <span style="background-color: #fff; font-size:13px; top: -11px;">MICROSCOPIC EXAMINATION</span>
    </div><br/>

    <div class="section">
      <div class="row">
        <div class="col-md-2" style="margin-top: 5px;">
          <label>
            Ova:
          </label>
        </div>
        <div class="col-md-6">
          <%= @stool_examinationreport.ova%>
          </div>
        </div>
      </div><br/>
      <div class="section">
        <div class="row">
          <div class="col-md-2" style="margin-top: 5px;">
            <label>
              Cyst:
            </label>
          </div>
          <div class="col-md-6">
            <%= @stool_examinationreport.cyst %>
            </div>
          </div>
        </div><br/>
    </div>
